<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86231600038-s9sgn7qas6j6e1a6pajivao9cn2rbb1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86231600038-s9sgn7qas6j6e1a6pajivao9cn2rbb1g</string>
	<key>API_KEY</key>
	<string>AIzaSyBlzfiz1MSZEtxuPKEzPefoDbIiT_62Uq8</string>
	<key>GCM_SENDER_ID</key>
	<string>86231600038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miCardFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-dh-web-portfolio-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-dh-web-portfolio-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86231600038:ios:7ce2a28a9b3eb568591d67</string>
</dict>
</plist>